
<div class="jumbotron reg">
  <img src="/success.png" class="reglogo"/>
</div>
<div class="container">
<div class="body">
<h3>Your Definition, $definition has been successfully added.</h3>

<p><a href="/">Add Word/View Words</a></p>
</div>
</div>
