<h1>Dictionary!</h1>
#if($words)
  <h1><ol>
  #foreach($word in $words)
    <li><a href="/words/$word.getId()">$word.getWord()</a></li>
  #end
  </ol></h1>
#end
<form action='/words' method='post'>
  <div class="form-group">
    <label for="word">Add Word:</label>
    <input name="word" class="form-control" id="word" type="text">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>
